<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>semester.cn.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>semester.cn.servlets.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getThumbsServlet</servlet-name>
        <servlet-class>semester.cn.servlets.getThumbsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getThumbsServlet</servlet-name>
        <url-pattern>/getThumbsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StoreServlet</servlet-name>
        <servlet-class>semester.cn.servlets.StoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StoreServlet</servlet-name>
        <url-pattern>/StoreServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getPhotoGPSServlet</servlet-name>
        <servlet-class>semester.cn.servlets.getPhotoGPSServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPhotoGPSServlet</servlet-name>
        <url-pattern>/getPhotoGPSServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getQueryPhotoPathServlet</servlet-name>
        <servlet-class>semester.cn.servlets.getQueryPhotoPathServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getQueryPhotoPathServlet</servlet-name>
        <url-pattern>/getQueryPhotoPathServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getPhotoDataServlet</servlet-name>
        <servlet-class>semester.cn.servlets.getPhotoDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPhotoDataServlet</servlet-name>
        <url-pattern>/getPhotoDataServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>initPhotoWallServlet</servlet-name>
        <servlet-class>semester.cn.servlets.initPhotoWallServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>initPhotoWallServlet</servlet-name>
        <url-pattern>/initPhotoWallServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadFaceInfoServlet</servlet-name>
        <servlet-class>semester.cn.servlets.uploadFaceInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadFaceInfoServlet</servlet-name>
        <url-pattern>/uploadFaceInfoServlet</url-pattern>
    </servlet-mapping>

</web-app>